.definition {
	height: 655px;
    padding-top: 180px;
    display: flex;
    justify-content: center;
    background-color: burlywood;
}

.definition__inner {
	text-align: center;
}

.definition__inner p {
	font-family: 'Exo 2', sans-serif;
	font-size: 25px;
	color: #fff;
}

.info {
	height: 700px;
	background-color: burlywood;
}

.info__inner h1 {
	font-family: 'Amatic SC', cursive;
	font-size: 40px;
	color: #0a0a0a;
}

.info__inner ul {
	font-family: 'Exo 2', sans-serif;
	font-size: 25px;
	color: #fff;
}