.name__field {
  background-color: transparent;
  height: 40px;
  width: 100%;
  max-width: 400px;
  color: #fff;
  font-family: 'Exo 2', sans-serif;
  font-size: 25px;
  border-color: #2a2a2a;
}

.password__field {
  background-color: transparent;
  height: 40px;
  width: 100%;
  max-width: 400px;
  color: #fff;
  font-family: 'Exo 2', sans-serif;
  font-size: 25px;
  border-color: #2a2a2a;
}

.reset__btn {
  background-color: transparent;
  height: 40px;
  width: 100%;
  max-width: 400px;
  color: #fff;
  font-family: 'Exo 2', sans-serif;
  font-size: 25px;
  border-color: #2a2a2a;
}

.submit__btn {
  background-color: transparent;
  height: 40px;
  width: 100%;
  max-width: 400px;
  color: #fff;
  font-family: 'Exo 2', sans-serif;
  font-size: 25px;
  border-color: #2a2a2a;
}